# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data & Models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.joblib
!models/.gitkeep