# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
\venv

# Jupyter
.ipynb_checkpoints/

# Data & Models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*.joblib
!models/.gitkeep
models\tuning_results.json
tuning_results.json

# Local TODO
TODO_MODELS.md